*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}
img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.wrap {
  margin: 20px 200px;
  width: (100%-400px);
  height: 900px;
  display: flex;
  justify-content: start;
  align-content: center;
}
.formComponents {
  width: 45%;
  height: 98%;
  margin: 10px 1%;
}
.formTitle {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  display: block;
  margin: 0 auto;
}

.subtitle {
  font-size: 14px;
  font-weight: 600;
  text-align: left;
  display: block;
  margin: 7px 5px;
  padding: 0 auto;
}

.addedComponents {
  border: 2px dashed lightgray;
  background-color: white;
  min-height: 55%;
  max-height: 55%;
  margin: 10px 10px;
  overflow-y: auto;
}

.formResults {
  font-size: 14px;
  font-family: "Lucida Console";
  margin-top: 20px;
  background-color: lightgray;
  min-height: 33%;
  max-height: 33%;
  width: 96%;
  margin: 10px 10px;
  overflow-y: auto;
  padding: 10px 20px;
}
.formProperty {
  margin-top: 20px;
  padding: 5px;
  width: 55%;
  height: 98%;
  margin: 10px 1%;
}
.formElements {
  height: 15%;
}

.basicFormProperties {
  margin-top: 5px;
  border: 2px dashed lightgray;
  padding: 20px 20px;
}
.basicFormProperties::after {
  content: "";
  display: block;
  clear: both;
}
.basicFormProperties > .subtitle {
  display: block;
}
.basicFormProperties label {
  display: inline-block;
  margin-bottom: 20px;
  width: 38%;
}
.basicFormProperties label:last-of-type {
  float: left;
}
.basicFormProperties input[type="text"] {
  padding-left:5px;
  background-color: rgb(173, 245, 182);
  width: 60%;
  margin: 5px;
  float: right;
  border: none;
}
.Variants {
  display: inline-block;
  width: 60%;
}
#listOfTypes {
  list-style: none;
  flex-wrap: wrap;
  display: flex;
  justify-content: start;
  align-content: center;
  padding: 0px;
  margin: 0px;
}
#listOfTypes li {
  min-width: 50px;
  padding: 5px 20px;
  margin: 5px 5px;
  background-color: white;
  border: solid 1px lightgray;
}
#listOfTypes li:hover {
  background-color: yellow;
  cursor: pointer;
}
#elementResult {
  height: 45%;
  padding: 10px;
  border: 2px dotted lightcoral;
  overflow-y: auto;
}
#elementResult label {
  display: block;
  width: 40%;
  float: left;
}
#elementResult label {
  margin-top: 10px;
  margin-left: 30px;
  display: inline-block;
  width: 95%;
}
#elementResult input[type="text"], #elementResult input[type="number"], #elementResult input[type="time"],#elementResult input[type="date"],#elementResult input[type="datetime-local"] {
  display: block;
  width: 60%;
  margin-right: 50px;
  float: right;
}
#elementResult input[type="time"]{
  width: 20%;
  margin-right: 47%;
}
#elementResult input[type="radio"]{
  margin-left: 170px;
}
#elementResult input[type="radio"]:nth-child(2n),#elementResult input[name="__autocomplete"]{
  margin-left:20px;
}
#elementResult input[name="__autocomplete"]:first-of-type, #elementResult input[name="__multiple"]:first-of-type{
  margin-left:135px;
}

#elementsResult .radioValue {
  display: inline-block;
}

.draggers{
  background-color:#8deba1;
  padding:5px;
  margin:5px;
  cursor: grabbing;
}
.draggers.over{
  border: 2px dashed #000;
}
.hide{
visibility: hidden;
}
button {
  color: white;
  background-color: #79c942;
  font-size: 20px;
  font-style: oblique;
  width: 96%;
  margin: 10px 10px;
  height: 40px;
  border: none;
  cursor: pointer;
}
#addedComponents .editButton{
  background:no-repeat url('https://cdn2.iconfinder.com/data/icons/education-2-45/48/71-512.png');
  background-size: 100%;
  display: inline-block;
  width:20px;
  height: 20px;
}
#addedComponents .deleteButton{
  background: no-repeat  url('https://cdn1.iconfinder.com/data/icons/office-and-business-14/48/32-512.png');
  background-size: 100%;
  display: inline-block;
  width:20px;
  height: 20px;
}

#addedComponents input[type="submit"]{
  display:inline-block;
  width:32%;
  margin:0 26%;
}
#addedComponents label{
margin:10px;
  font-size: 20px;
font-weight: 700;
width:30%;
display:inline-block;
}
#addedComponents input{
width:50%;
margin-right:10px;
padding-left:5px;
}
#addedComponents textarea{
  width:50%;
margin-right:10px;
padding-left:5px;
}
